@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


*{
    box-sizing: border-box;
}


:root{
    --color-text: #232323;
    --color-one: #EFEFEF;
    /* --color-two: # */
    --font: "DM Sans", sans-serif;;
}

body{
    font-family: var(--font);
    color: var(--color-text);
    
}

header{
    margin:0;
}
a{
    text-decoration: none;
}

/* .container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
} */

@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
}


@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
    
}


@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    
}


@media (max-width: 576px){
    .container{
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
}