
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.header{
    display: flex;
    
}

.h1{
    background-color: #38C8FE;
    padding: 20px;
    width: 30%;
    height: 150px;
    margin: 10px;

    /* margin: 10px; */
}
.h2{
    background-color: #FFAF47;
    padding: 20px;
    width: 70%;
    margin: 10px;
    margin-left: 0;
}

.h3{
    background-color: #FF7747;
    height: 400px;
    margin: 10px;
    
    
}

.section-two{
    display: flex;
}

.box{
    background-color: #FFD647;
    width: 32%;
    height: 200px;
    margin: 10px;
}



.footer{
    background-color: #FDC1FF;
    width: 100%;
    height: 100px;
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    .section-two{
        flex-wrap: wrap;
    }
   .box{
        width: 100%;
   }
   
}