table,th,td{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid  rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    padding: 10px;
}
thead,th{
    background-color: #00867C;
    color: white;
    
}

th,td {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

